<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
			<h2>{{testString}}</h2>
		</div>
		<div id="vueApp">
			<hhd-app></hhd-app>
		</div>
		<script src='{{common}}'></script>
		<script src='{{vendors}}'></script>
		<script src='{{index}}'></script>
	</body>
</html>
